<h1><%= @truck.name %>'s Menu </h1>

<%= render 'flavor_search_form' %>

<%= render @icecreams %>

<% if session[:truck_id] %>
    <%= link_to "Add New Icecream", new_truck_icecream_path(@truck) if check_owner? %>
<% else session[:customer_id] %>
    <%= link_to "Start Order", new_truck_order_path(@truck) %>
<% end %>