Truck Show Page

<% if session[:truck_id] %>
    <h1><%= @truck.name %>'s Menu </h1>

    <ol>
        <% @truck.icecreams.each do |ic| %>
            <li>
                <%= link_to ic.name, truck_icecream_path(ic.truck, ic) %> - $<%= ic.price %>
            </li>
        <% end %>
    </ol>
    
    <% if session[:truck_id] == params[:id].to_i %>
        <%= link_to "Add New Icecream", new_truck_icecream_path(@truck) %>
    <% end %>

<% elsif session[:customer_id] %>
    <h1><%= @truck.name %>'s Menu </h1>

    <%= form_tag truck_path(@truck.id), method: :get do %>
        <%= collection_select :flavors, :flavor_id, Flavor.all, :id, :name %>
        <%= submit_tag "Flavor Search" %>
    <% end %>

    <ol>
        <% @icecreams.each do |ic| %>
            <li>
                <%= ic.name %> - $<%= ic.price %>
                <i><%= ic.flavors.map {|f| f.name}.join(", ") %></i>
            </li>
        <% end %>
    </ol>
    <%= link_to "Start Order", new_truck_order_path(@truck) %>
<% end %>