<h1>New Order</h1>

<%= form_for @order do |f| %>
    <%= f.hidden_field :truck_id, value: @truck.id %>
    <%= f.hidden_field :customer_id, value: @customer.id %>

    <%= f.fields_for :icecreams_orders do |fields| %>
            <%= fields.hidden_field :icecream_id %>
            Quantity: <%= fields.number_field :quantity, min: 0%>
            <br>
    <% end %>
    <%= f.submit "Place Order" %>

<% end %>
    
    