<h1>Edit Icecream</h1>
<%= form_for @icecream do |f| %> <!-- BLOG POST -->
        <%= f.label "Icecream Name: " %>
        <%= f.text_field :name %><br>
        <%= f.label "Price" %>
        <%= f.text_field :price%><br>

        <%= f.collection_check_boxes :flavor_ids, Flavor.all, :id, :name %>
        <br>
        
        <%= f.fields_for :flavors, Flavor.new do |flavors_field| %> <!-- BLOG POST -->
            <%= flavors_field.label "Flavor Name: " %>
            <%= flavors_field.text_field :name %>
        <% end %>

        <%= f.submit %>
<% end %>