<!DOCTYPE html>
<html>
  <head>
    <title>IcyTruck</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% flash.each do |type, msg| %>
      <div class="form-error">
        <%= msg %>
      </div>
    <% end %>

    <div class="nav-bar">
      <% if session[:truck_id] %>
        <%= link_to "Settings", edit_truck_path(current_truck) %>
        <%= link_to "Log Out", logout_path %>
        <%= link_to "My Menu", truck_path(current_truck) %>
      <% else %>
        <%= link_to "Icecream Truck Sign Up", truck_signup_path %>
        <%= link_to "Icecream Truck Log In", truck_login_path %>
      <% end %>

    <%= yield %>
  
  </body>
</html>
